/* importação de fontes para os textos*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* criação de variáveis para facilitar atribuição das cores no projeto*/
:root{
    --cor-primaria: #331d4a;
    --cor-secundaria: #331d4a;
    --cor-slogan: black;
    --cor-fundobotoes: #9f63d8;
    --cor-bordabotoes: #5c4f79;
    --cor-textobotoes: #536c8d;
    --cor-fundobotoeshover: red;
    --cor-textobotoeshover: #000000;
}

body{
    box-sizing: border-box;
    background-color: #AFCACC;
    color: #caf0f8;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    background-color: #baafc4;
    color: var(--cor-textobotoes);
    text-decoration: none;
    border:2px solid var(--cor-bordabotoes);
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px;
}
.cabecalho__menu__link:hover{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #baafc4;
    background-color: #272727;
    text-decoration: none;
    border:2px solid var(--cor-bordabotoes);
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px;
}
.curriculo{
    padding:5% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.curriculo__conteudo{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.curriculo__conteudo__titulo{
    font-size: 48px;
    font-family: 'Krona One', sans-serif;
    color: #331d4a;
}
.curriculo__conteudo__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #331d4a;
}
.curriculo__conteudo__periodo{
    color: #536c8d;
}
