/* importação de fontes para os textos*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* criação de variáveis para facilitar atribuição das cores no projeto*/
:root{
    --cor-primaria: #331d4a;
    --cor-secundaria: #331d4a;
    --cor-slogan: black;
    --cor-fundobotoes: #9f63d8;
    --cor-bordabotoes: #5c4f79;
    --cor-textobotoes: #536c8d;
    --cor-fundobotoeshover: red;
    --cor-textobotoeshover: #000000;
}

body{
    box-sizing: border-box;
    background-color: #AFCACC;
    color: #caf0f8;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    background-color: #baafc4;
    color: var(--cor-textobotoes);
    text-decoration: none;
    border:2px solid var(--cor-bordabotoes);
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px;
}
.cabecalho__menu__link:hover{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #baafc4;
    background-color: #272727;
    text-decoration: none;
    border:2px solid var(--cor-bordabotoes);
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px;
}
.apresentacao{
    padding:5% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__about{
    padding:5% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.apresentacao__conteudo__about{
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    text-align:center;
    color: #331d4a;
}
.apresentacao__conteudo__titulo__about{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    color: #331d4a;
    text-align:center;
}
.titulo-destaque{
    color: #22D4FD;
}
.apresentacao__conteudo__texto{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    color:#81749c;

}
.apresentacao__conteudo__texto__about{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    color:#81749c;   

}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__links__link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao__links__link:hover{
    background-color: #272727;
}

.rodape{
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.menu__botoes:hover{
    background-color: var(--cor-fundobotoeshover);
    padding: 10px 20px;
    border: 10px inset var(--cor-bordabotoes);
    border-radius: 25px;
    text-decoration: none;
    transition: 1s;
    color: var(--cor-textobotoeshover);
    font-size: 24px;
    font-family: 'Sofia', cursive;
    transform: scale(1.2,1.2);
}